.calendarBodyWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}

.headerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: red;
}

.currentMonthDayHover:hover {
    background-color: #f0f0f0;

}
.selectedDay {
    background-color: #2f0808;
    color: white;

}
.prevItem {
    color: #ccc;
}

.nextItem {
    color: #ccc;
}